pom.xml
pom.xml.asc
auaupi.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.calva/
.clj-kondo/
.idea/
.rebel_readline_history
/datomic-data
.lsp
.swp
package-lock.json